xslt/schema.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>TEI Publisher ODD
					,
				</title>
				<title type="short">TEI Publisher Base</title>
			</titleStmt>
			<publicationStmt>
				<publisher>eXistSolutions GmbH</publisher>
				<availability>
					<licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU
						General Public License</licence>
					<p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
					</p>
					<p>This program is free software: you can redistribute it and/or modify
						it under the terms of the GNU General Public License as published by
						the Free Software Foundation, either version 3 of the License, or
						(at your option) any later version.</p>
					<p>This program is distributed in the hope that it will be useful,
						but WITHOUT ANY WARRANTY; without even the implied warranty of
						MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
						GNU General Public License for more details.</p>
				</availability>
			</publicationStmt>
			<sourceDesc>
				<p>Default customization generated by <ref target="http://tei-publisher.com">TEI
						Publisher</ref>, extending tei_simplePrint.odd.</p>
				<p>born digital</p>
			</sourceDesc>
		</fileDesc>
		<encodingDesc>
			<tagsDecl />
		</encodingDesc>
		<revisionDesc>
			<change when="2017-09-08">adjust metadata in teiHeader</change>
		</revisionDesc>
	</teiHeader>
	<text>
		<body>
			<schemaSpec start="TEI teiCorpus" ident="teipublisher" source="tei_simplePrint.odd">
				<elementSpec ident="div" mode="change">
					<model predicate="@type='SVPListe'" behaviour="block">
						<param name="content" value="list[@type=&#34;SVP&#34;]" />
						<pb:template xmlns="" xml:space="preserve">
                            <div><h3 class="collapsible" onclick="hideDiv(this)" style="white-space:no-wrap; color: rgb(4, 130, 99); cursor:pointer;">Sitzungsverlauf <sup title="Sitzungsverlauf ein-/ausklappen">ⓘ</sup>
                            </h3>
                            <div class="info" style="  padding: 0 18px;   display: none;   overflow: hidden;    background-color:#fafafa;">[[content]]</div>
                                
                            </div>
                        </pb:template>
						<elementSpec ident="item" mode="change">
							<model output="web" predicate="ancestor::div[@type='SVPListe']" behaviour="inline">
								<outputRendition xml:space="preserve">
                                    padding-top:20em;
                                    margin-top:-20em;
                                    color: rgb(4, 130, 99);
                                    cursor: pointer;
        						</outputRendition>
								<outputRendition scope="hover" xml:space="preserve">
                                    text-decoration: underline;
        						</outputRendition>
								<param name="uri" value="substring(@corresp,2)" />
								<param name="name" value="concat('id_', @xml:id)" />
								<param name="head"
									value="                     let $token := tokenize(./text(), ' ')                     let $head := $token[1]                     return $head                     " />
								<param name="content" value="." />
								<pb:template xmlns="" xml:space="preserve">
        				            <li onclick="goTo('[[uri]]')" title="Zu [[head]]">[[content]]
        				                
        				            </li>
                                </pb:template>
							</model>
							<model output="print" predicate="ancestor::div[@type='SVPListe']" behaviour="inline">
								<outputRendition xml:space="preserve">
                                    padding-top:20em;
                                    margin-top:-20em;
                                    
                                    cursor: pointer;
        						</outputRendition>
								<outputRendition scope="hover" xml:space="preserve">
                                    text-decoration: underline;
                                    list-style-type: none;
        						</outputRendition>
								<param name="uri" value="substring(@corresp,2)" />
								<param name="name" value="concat('id_', @xml:id)" />
								<param name="head"
									value="                     let $token := tokenize(./text(), ' ')                     let $head := $token[1]                     return $head                     " />
								<param name="content" value="." />
								<pb:template xmlns="" xml:space="preserve">
        				            <li title="Zu [[head]]">[[content]]
        				                
        				            </li>
                                </pb:template>
							</model>
							<model output="web" behaviour="list" />
						</elementSpec>
					</model>
					<model predicate="@type='Anwesenheitsliste'" behaviour="block">
						<param name="content" value="." />
						<param name="title"
							value="if(./head) then replace(./head/text(), ':', '') else 'Anwesendenübersicht'" />
						<pb:template xmlns="" xml:space="preserve">
				            <div>
				                <h3 onclick="hideDiv(this)" class="collapsible" style="white-space:no-wrap; color: rgb(4, 130, 99); cursor:pointer;">[[title]]<sup title="Anwesenheitsliste ein-/ausklappen">ⓘ</sup></h3>
				                <div class="info" style="  padding: 0 18px;   display: none;   overflow: hidden;    background-color:#fafafa;">[[content]]</div>
                            </div>
                        </pb:template>
					</model>
					<model output="web" predicate="@type='SVP'" behaviour="block">
						<!--<elementSpec
						ident="head" mode="add">
        					<model behaviour="anchor">
                                
                                <param name="content" value="." />
                            </model>
        				</elementSpec>-->
						<param name="content" value="." />
						<pb:template xmlns="" xml:space="preserve">
        				    <div>
            				    <div>[[content]]</div>
            				    <div style="text-align:right;item-align:right;"><br/><button type="button" id="show" class="btn btn-warning" onclick="window.location.href = '#top';" style="                margin-left: 20em;                 background-color: #F6A623;                 text: black;                 font-size: 12pt;                 border-color: transparent;                 border-radius: 10px;                 cursor: pointer;">Nach Oben</button></div>
        				    </div>
        				</pb:template>
						<!--<outputRendition
						xml:space="preserve">
                            padding-top:20em;
                            margin-top:-20em;
						</outputRendition>-->


					</model>

					<model predicate="@type='Kopfdaten'" behaviour="omit" />

				</elementSpec>
				<elementSpec ident="text" mode="change">
					<model behaviour="body" />
				</elementSpec>
				<elementSpec ident="gap" mode="change">
					<model behaviour="inline">
						<param name="content" value="let $content := '{...}' return $content" />
						<outputRendition xml:space="preserve">
                            color:rgb(221,111,0);
    					</outputRendition>
						<pb:template>
							<span title="Transkriptionslücke">[[content]]</span>
						</pb:template>
					</model>
				</elementSpec>
				<elementSpec ident="pause" mode="change">
					<model behaviour="inline">
						<outputRendition xml:space="preserve">
                            color:rgb(221,111,0);
    					</outputRendition>
						<param name="title"
							value="let $hour := substring(data(./@dur),3,2) let $min := substring(data(./@dur),6,2) let $sec := substring(data(./@dur),9,2) return concat(&#34;Pause von: &#34;,$hour, &#34; Stunden, &#34;, $min, &#34; Minuten, &#34;, $sec, &#34; Sekunden&#34; )" />
						<param name="content" value="'| |'" />
						<pb:template>
							<span title="[[title]]">[[content]]</span>
						</pb:template>
					</model>
				</elementSpec>
				<elementSpec ident="figure" mode="change">
					<model predicate="head or @rendition='simple:display'" behaviour="block" />
					<model behaviour="inline" />
				</elementSpec>
				<elementSpec ident="head" mode="change">

					<model predicate="$parameters?header='short'" behaviour="inline">
						<param name="content"
							value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')" />
					</model>
					<model predicate="parent::figure" behaviour="block">
						<outputRendition xml:space="preserve">
            font-style: italic;
						</outputRendition>
					</model>

					<model predicate="parent::table" behaviour="block">
						<outputRendition xml:space="preserve">
            font-style: italic;
						</outputRendition>
					</model>
					<model predicate="parent::lg" behaviour="block">
						<outputRendition xml:space="preserve">
            font-style: italic;
						</outputRendition>
					</model>

					<model predicate="parent::list" behaviour="block">
						<outputRendition xml:space="preserve">
            font-weight: bold;
						</outputRendition>
					</model>
					<model predicate="parent::div[@type='Anwesenheitsliste']" behaviour="omit" />
					<model predicate="parent::div" behaviour="heading">
						<param name="level" value="count(ancestor::div)" />
					</model>

					<!--<model
					behaviour="block"/>-->
				</elementSpec>
				<elementSpec ident="teiHeader" mode="change">
					<model output="latex" behaviour="metadata" />
					<model output="fo" behaviour="omit" />
					<model output="web" predicate="$parameters?header='short'" behaviour="block" />
					<model output="web" behaviour="metadata" />
				</elementSpec>
				<elementSpec ident="fileDesc" mode="change">
					<modelSequence predicate="$parameters?header='short'">
						<model behaviour="block" cssClass="header-short">
							<outputRendition>
								display:flex;
								flex-direction: column;
							</outputRendition>
							<param name="content" value="titleStmt" />
						</model>
						<!--<model
						behaviour="block" cssClass="header-short">
							<param name="content" value="editionStmt"/>
						</model>-->
						<model behaviour="block" cssClass="header-short">
							<param name="content" value="publicationStmt" />
						</model>
					</modelSequence>
					<model behaviour="title">
						<param name="content" value="titleStmt" />
					</model>
				</elementSpec>
				<elementSpec ident="editionStmt" mode="omit" />
				<elementSpec ident="titleStmt" mode="add">
					<model output="latex" behaviour="meta">
						<param name="content" value="." />
					</model>
					<model output="fo" behaviour="heading" />
					<model predicate="$parameters?mode='title'" behaviour="heading">
						<param name="content" value="title[not(@type)]" />
						<param name="level" value="5" />
					</model>
					<modelSequence output="web" predicate="$parameters?header='short'">

						<model behaviour="inline">
							<param name="content"
								value="parent::fileDesc/parent::teiHeader//idno[@type='Fraktion-Landesgruppe']" />

							<pb:template>
								<div id="fraktion"
									style="  position: relative !important;                                 top:0;                                 white-space: nowrap;">
									[[content]]</div>
							</pb:template>
						</model>
						<model behaviour="omit">

							<param name="content" value="'WP '" />
							<pb:template>
								<div id="wp"
									style="  position: relative !important;                                 top:0;                                 white-space: nowrap;">
									[[content]]</div>
							</pb:template>
						</model>
						<modelSequence behaviour="inline"
							predicate="parent::fileDesc/parent::teiHeader//idno[@type='wp']">
							<model behaviour="inline">

								<param name="content"
									value="concat('WP ' ,parent::fileDesc/parent::teiHeader//idno[@type='wp'])" />
								<pb:template>
									<div id="date"
										style="top:0;  position: relative !important;                                                                  white-space: nowrap;">
										[[content]]</div>
								</pb:template>
							</model>

						</modelSequence>

						<model behaviour="inline">

							<param name="content"
								value="if (parent::fileDesc/parent::teiHeader/profileDesc[1]/creation[1]/date[1]/@from) then data(parent::fileDesc/parent::teiHeader/profileDesc[1]/creation[1]/date[1]/@from) else data(parent::fileDesc/parent::teiHeader/profileDesc[1]/creation[1]/date[1]/@when)  " />
							<pb:template>
								<div id="text"
									style="  top:0;position: relative !important;                                                                 white-space: nowrap; margin-left:2.6vw;">
									[[content]]</div>
							</pb:template>
						</model>

						<model behaviour="inline">
							<param name="title"
								value="parent::fileDesc/parent::teiHeader//titleStmt/title[@level='a']/text()" />
							<!--	<param name="content"
							value="if(string-length(parent::fileDesc[1]/parent::teiHeader[1]//titleStmt[1]//title[@level='a'][1]/text())
							&lt; 80) then
							parent::fileDesc[1]/parent::teiHeader[1]//titleStmt[1]/title[@level='a'][1]/text()
							else
							concat(substring(parent::fileDesc[1]/parent::teiHeader//titleStmt[1]/title[@level='a'][1]/text(),
							1, 60), ' ...')"/>-->

							<pb:template>
								<div id="option"
									style="                                 white-space: nowrap;                                 position: relative;                                                                 top:0;                                 padding-right: 0px !important;"
									title="[[title]]">[[title]]</div>
							</pb:template>
						</model>


						<model behaviour="inline">
							<param name="uri"
								value="let $parameters :=  request:get-parameter-names() let $conparms := for $par at $i in $parameters let $values := request:get-parameter($par, '') return for $value in $values return (concat($par, '=', encode-for-uri(string-join($value)))) let $docname := tokenize(base-uri(.), '/')[last()] let $url := if(count($conparms) &gt; 0) then concat($docname, '?', string-join($conparms, '&amp;amp;')) else $docname return $url" />
							<pb:template>
								<div
									style="                            white-space: nowrap;                                 position: relative;                                                                  width: 1em;                                 top:0;                                 padding-left: 2em !important;">
									<a class="btn-detail-view" href="[[uri]]" title="Seite aufrufen" target="_self" />
								</div>
							</pb:template>
						</model>

						<!--	<model behaviour="inline">
							<param name="uri" value="$parameters?doc"/>
                            <pb:template>
                                9<div style="                            white-space: nowrap;                                 position: absolute;                                 left: 69em;                                 width: 2em;                                 top:0;
						padding-right: 0px !important;"> <a class="fas fa-file-pdf"
						href="exist/apps/Fraktionsprotokolle/api/document/[[uri]]/tex" title="Download PDF"
						target="_new"/>
                                </div>
                            </pb:template>
						</model> -->
					</modelSequence>
					<model output="web" behaviour="table" />
				</elementSpec>
				<elementSpec ident="publicationStmt" mode="add">
					<model output="web" behaviour="block">
						<param name="content" value="availability/licence" />
					</model>
					<model behaviour="omit" />
				</elementSpec>
				<elementSpec ident="licence" mode="add">
					<model output="web" predicate="@target" behaviour="link" cssClass="licence">
						<param name="content" value="'Licence'" />
						<param name="uri" value="@target" />
					</model>
					<model behaviour="omit" />
				</elementSpec>
				<elementSpec ident="title" mode="change">
					<model predicate="$parameters?header='short'" behaviour="heading">
						<param name="level" value="5" />
					</model>
					<modelSequence predicate="parent::titleStmt/parent::fileDesc">
						<model predicate="preceding-sibling::title" behaviour="text">
							<param name="content" value="' — '" />
						</model>
						<model behaviour="inline" />
					</modelSequence>
					<model predicate="not(@level) and parent::bibl" behaviour="inline" />
					<modelSequence predicate="@level='m' or not(@level)">
						<model behaviour="inline">
							<outputRendition xml:space="preserve">
                font-style: italic;
							</outputRendition>
						</model>
						<model predicate="ancestor::biblFull" behaviour="text">
							<param name="content" value="', '" />
						</model>
					</modelSequence>
					<modelSequence predicate="@level='s' or @level='j'">
						<model behaviour="inline">
							<outputRendition xml:space="preserve">
                font-style: italic;
							</outputRendition>
						</model>
						<model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
							<param name="content" value="', '" />
						</model>
					</modelSequence>
					<modelSequence predicate="@level='u' or @level='a'">
						<model behaviour="inline">
							<outputRendition xml:space="preserve">
                font-style: italic;
							</outputRendition>
						</model>
						<model predicate="following-sibling::* and     (    ancestor::biblFull)"
							behaviour="text">
							<param name="content" value="'. '" />
						</model>
					</modelSequence>
					<model behaviour="inline">
						<outputRendition xml:space="preserve">
            font-style: italic;
						</outputRendition>
					</model>
				</elementSpec>
				<elementSpec ident="author" mode="change">
					<model predicate="ancestor::teiHeader" behaviour="block">
						<outputRendition xml:space="preserve" scope="before">
            content: 'By ';
						</outputRendition>
					</model>
					<model behaviour="inline" />
				</elementSpec>
				<elementSpec ident="edition" mode="change">
					<model predicate="ancestor::teiHeader" behaviour="block">
						<outputRendition xml:space="preserve" scope="before">
            content: 'Edition: ';
						</outputRendition>
					</model>
				</elementSpec>
				<elementSpec ident="ref" mode="change">

					<model predicate="not(@target)" behaviour="inline" />
					<model predicate="not(node())" behaviour="link">
						<param name="content" value="@target" />
						<param name="target" value="'_new'" />
						<param name="uri" value="@target" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
					<model predicate="ancestor::bibl[@type='bgbl']" behaviour="link">
						<param name="content" value="./text()" />
						<param name="target" value="'_new'" />
						<param name="uri"
							value="let $parts := tokenize(@target, &#34;/&#34;)                                     let $url := concat(&#34;https://offenegesetze.de/veroeffentlichung/bgbl&#34;, $parts[2], &#34;/&#34;, $parts[1], &#34;/&#34;, $parts[3]) return $url" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
					<model predicate="ancestor::bibl[@type='btp']" behaviour="link">
						<param name="content" value="./text()" />
						<param name="target" value="'_new'" />
						<param name="uri"
							value="          let $parts := tokenize(@target, &#34;/&#34;)                         let $wp := if(string-length( $parts[1]) = 1) then concat('0',$parts[1]) else $parts[1]                    let $meeting := concat(substring(&#34;000&#34;, string-length($parts[2])  + 1 ), $parts[2])                              let $url := concat(&#34; https://dserver.bundestag.de/btp/&#34; , $wp , &#34;/&#34;, $wp,  $meeting , &#34;.pdf&#34;)                     return $url" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
					<model predicate="ancestor::bibl[@type='btd']" behaviour="link">
						<param name="content" value="./text()" />
						<param name="target" value="'_new'" />
						<param name="uri"
							value="let $parts := tokenize(@target, &#34;/&#34;)                                     let $meeting_len := string-length($parts[2])                                     let $meeting := concat(substring(&#34;00000&#34;, $meeting_len+1), $parts[2])                                     let $prefix := substring($meeting, 1,3)                                     let $url := concat(&#34; https://dserver.bundestag.de/btd/&#34; , $parts[1], &#34;/&#34;, $prefix, &#34;/&#34;, $parts[1], $meeting, &#34;.pdf&#34;)                                     return $url" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>

					<model predicate="@type='internal'" behaviour="link">
						<param name="content" value="./text()" />
						<param name="target" value="'_self'" />
						<param name="uri"
							value="          let $target := replace(@target,'#', '')           let $tokens := tokenize(data($target), '_')          let $filename := if (count($tokens) &gt; 1) then concat($tokens[1], '_',$tokens[2], '_', $tokens[3],'.xml') else @target          let $len := count($tokens)          let $target :=              switch ($len)              case 3 return $filename              case 4 return if(contains($target, 'FN')) then concat($filename, '?fn=', $target ) else concat($filename, '?div=', $target )               case 5 return concat($filename, '#', $target )              default return concat($filename, '#', $target )          let $url := concat('http://www.fraktionsprotokolle.de/',$target ) return $url" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
					<model behaviour="link">
						<param name="uri" value="@target" />
						<param name="target" value="_new" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
				</elementSpec>
				<elementSpec output="web" ident="note" mode="change">
					<model behaviour="note">
						<param name="place" value="@place" />
						<param name="label" value="@n" />
						<outputRendition>
							font-weight:bold;
							color: rgb(0,151,114);
						</outputRendition>
					</model>
				</elementSpec>
				<elementSpec ident="bibl" mode="change">
					<model predicate="@corresp" behaviour="link">
						<param name="content" value="." />
						<param name="target" value="_new" />
						<param name="uri"
							value="concat('https://www.fraktionsprotokolle.de/literaturregister.html?id=', data(@corresp))" />
						<outputRendition>
							color: rgb(4,130,99);
						</outputRendition>
					</model>
				</elementSpec>
				<elementSpec ident="notatedMusic" mode="add">
					<model behaviour="figure">
						<param name="title" value="label" />
						<param name="content" value="ptr" />
					</model>
				</elementSpec>
				<elementSpec ident="ptr" mode="add">
					<model predicate="parent::notatedMusic" behaviour="webcomponent">
						<param name="name" value="'pb-mei'" />
						<param name="url" value="@target" />
					</model>
				</elementSpec>
				<elementSpec ident="name" mode="change">
					<model predicate="@type='Person' and @role='Erwaehnung'" behaviour="inline">
						<outputRendition>
							font-style:italic;
							display:inline-block;
						</outputRendition>
						<param name="ref" value="data(@ref)" />
						<param name="id"
							value="let $id := tokenize(data(@ref), '#') let $persID := if($id[2]) then $id[2] else data(@ref) return $persID" />
						<param name="title"
							value="let $id := tokenize(data(@ref), '#') let $persID := if($id[2]) then $id[2] else data(@ref)                         let $person := if ($persID) then cache:get('personentry',$persID) else () let $text := if($person//*:reg) then                          if($person//*:persName[data(@n)='1']/*:reg) then $person//*:persName[data(@n)='1']/*:reg/text() else $person//*:reg else if($persID) then cache:get('persons', $persID) else ()      return $text" />
						<param name="details"
							value="let $id := tokenize(data(@ref), '#') let $persID := if($id[2]) then $id[2] else data(@ref) return $persID" />
						<pb:template>
							<pb-popover theme="light-border">
								<span id="[[ref]]">[[content]]</span>
								<template slot="alternate">[[title]]<br />
                                    <a href="person.html?id=[[id]]"
										title="[[title]]" style="">Weitere Daten</a>
								</template>
							</pb-popover>
						</pb:template>
					</model>
					<model predicate="@type='Person' and @role='Sprecher'" behaviour="inline">
						<outputRendition>
							font-weight: bold;
						</outputRendition>
						<param name="ref" value="data(@ref)" />
						<param name="id"
							value="let $id := tokenize(data(@ref), '#') let $persID := if($id[2]) then $id[2] else data(@ref) return $persID" />
						<param name="title"
							value="let $id := tokenize(data(@ref), '#') let $persID := if($id[2]) then $id[2] else data(@ref)                         let $person := if($persID) then cache:get('personentry',$persID) else () let $text := if($person//*:reg) then                          if($person//*:persName[data(@n)='1']/*:reg) then $person//*:persName[data(@n)='1']/*:reg/text() else $person//*:reg else if($persID) then cache:get('persons', $persID)  else ()     return $text" />
						<pb:template>
							<pb-popover theme="light-border">
								<span id="[[ref]]">[[content]]</span>
								<template slot="alternate">[[title]]<br />
                                    <a href="person.html?id=[[id]]"
										title="[[title]]">Weitere Daten</a>
								</template>
							</pb-popover>
						</pb:template>
					</model>
					<elementSpec ident="hi" mode="change">
						<model output="latex" predicate="@rendition='#smcap'" behaviour="inline">
							<param name="title" value="." />
							<pb:template>
								\textsc{[[title]]}
							</pb:template>
						</model>
						<model predicate="@rendition='#smcap'" behaviour="inline">
							<param name="title" value="." />
							<outputRendition>
								font-variant: small-caps;
							</outputRendition>
						</model>
					</elementSpec>
					<model predicate="@type='Organisation'" behaviour="inline">
						<outputRendition>
							color: #666666;
						</outputRendition>
						<param name="ref" value="data(@ref)" />
						<param name="id"
							value="let $id := tokenize(data(@ref), '#') let $orgaID := if($id[2]) then $id[2] else data(@ref) return $orgaID" />
						<param name="title" value="test" />
						<pb:template>
							<span id="[[ref]]" title="[[title]]">[[content]]</span>
						</pb:template>
					</model>
				</elementSpec>
				<elementSpec ident="choice" mode="change">
					<model output="plain" predicate="abbr and expan" behaviour="inline">
						<outputRendition>
							color: rgb(109,110,140);
						</outputRendition>
						<param name="content" value="abbr[1]" />
						<param name="title" value="expan[1]" />
						<pb:template>
							<span title="[[title]]">[[content]]</span>
						</pb:template>
					</model>

					<model predicate="abbr and expan" behaviour="alternate">
						<outputRendition>
							color: rgb(109,110,140);
						</outputRendition>
						<param name="default" value="abbr[1]" />
						<param name="alternate" value="expan[1]" />
					</model>
				</elementSpec>

				<elementSpec ident="seg" mode="change">
					<model predicate="@type='note'" output="print" behaviour="inline">
						<outputRendition>
							border-bottom: 0;
							text-decoration: none;
							text-align: left;
						</outputRendition>

					</model>
					<model predicate="@type='note'" behaviour="inline">
						<outputRendition>
							border-bottom: 1px dotted rgb(0,151,114);
							text-decoration: none;
							text-align: left;
						</outputRendition>

						<outputRendition xml:space="preserve" scope="hover">
                            background-color: rgb(233,239,228);
						</outputRendition>
					</model>
				</elementSpec>

				<elementSpec ident="p" mode="change">
					<model predicate="parent::note" behaviour="inline">
						<outputRendition>
							whitespace:no-wrap;
						</outputRendition>
					</model>
					<model predicate="parent::item" behaviour="inline">
						<outputRendition>
							whitespace:no-wrap;
						</outputRendition>
					</model>
					<model behaviour="paragraph" />
				</elementSpec>
			</schemaSpec>
		</body>
	</text>
</TEI>
